.slider-block {
    max-width: 600px;
    display: flex;
    /*align-items: center;*/
}

.slider-label {
    font-size: 14px;
    line-height: 35px;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
}

.slider-block .el-slider {
    margin-top: 0;
    /*margin-left: 12px;*/
}

.slider-block .slider-label + .el-slider {
    flex: 0 0 88%;
}

.checkbox {
    display: none;
}

.slider {
    width: 40px;
    height: 20px;
    background-color: lightgray;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 4px solid transparent;
    transition: .3s;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.25) inset;
    cursor: pointer;
}

.slider::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: translateX(-20px);
    border-radius: 20px;
    transition: .3s;
    box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
}

.checkbox:checked ~ .slider::before {
    transform: translateX(20px);
    box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.25);
}

.checkbox:checked ~ .slider {
    background-color: #24c36e;
}

.checkbox:active ~ .slider::before {
    transform: translate(0);
}