* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.status-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #16a8f0;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    /*height: 35px;*/
    border-radius: 5px;
}

.header-left {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    color: white;
    margin-left: 12px;
}

.date-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.date-info i:hover {
    filter: brightness(50%);
}


.toggle-sidebar-btn {
    background: none;
    border: none;
    font-size: 35px;
    color: white;
    cursor: pointer;
    margin-left: -3px;
}

.content-wrapper {
    flex: 1;
    display: flex;
}

.main-content {
    flex: 1;
    padding: 30px;
    border-radius: 15px;
    transition: background-color 0.35s ease, color 0.2s ease;
}

.user-info-section {
    /*display: flex;*/
    /*flex-direction: column;*/
}

.user-info {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-bottom: 5px;
}

.menu-divider {
    border: 0;
    border-top: 1px solid #ccc;
    width: 100%;
}

.logout-button {
    color: #16a8f0;
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
    outline: none;
    border: none;
    padding: 0.5rem 1.7rem;
    font-family: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    border-radius: 500px;
    overflow: hidden;
    background: #16a8f0;
    transition: background-color 0.3s, color 0.3s;
}

.logout-button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}

.logout-button:hover span {
    color: ghostwhite;
}

.logout-button::before,
.logout-button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.logout-button::before {
    content: "";
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.logout-button:hover::before {
    transform: translate3d(100%, 0, 0);
}

.sidebar {
    width: 13%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    transition: background-color 0.35s ease, color 0.2s ease;
}

.sidebar .menu-functions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
    list-style-type: none;
    margin-top: 20px;
}

.sidebar .menu-functions li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    font-size: 18px;
}

.sidebar a {
    height: 80%;
    width: 75%;
    text-decoration: none;
    border-radius: 5px;
    align-content: center;
}

.sidebar a span {
    text-decoration: none;
    border-radius: 5px;
    height: 100%;
}

.active-link {
    background-color: #16a8f0;
    align-items: center;
    box-sizing: border-box;
    align-content: center;
}

.sidebar .active-link:hover {
    background-color: #16a8f0;
}

.menu-options {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.menu-options li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 18px;
}

.slide-enter-active, .slide-leave-active {
    transition: transform 0.5s ease;
}

.slide-enter {
    transform: translateX(-100%);
}

.slide-leave-to {
    transform: translateX(-100%);
}

@media (max-width: 786px) {
    .date-info .hide {
        display: none;
    }
}