/* 容器全局样式 */
.app-container {
    width: 90%;
    padding: 0 20px;
}

.title {
    font-size: 50px;
    margin-bottom: 25px;
    color: #4a90e2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.selectors {
    display: flex;
    gap: 25px; /* 控制选择器之间的间距 */
    justify-content: flex-start; /* 水平方向对齐 */
    align-items: center; /* 垂直方向居中 */
    margin-bottom: 20px;
}

/* 选择框样式 */
.select-container {
    display: flex;
    align-items: center;
}

.select-container label {
    margin-right: 10px;
    font-size: 18px;
}

select:hover {
    border-color: #4a90e2;
}

/* 设备展示区域 */
.devices-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

/* 设备列表样式 */
.devices-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.area-section {
    flex: 1 1 calc(33.33% - 20px);
    margin-top: 20px;
}

.scroll {
    height: 400px;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}

.device-item {
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    text-align: center;
    cursor: pointer;
}

.device-item:hover {
    transform: translateY(-3px);  /* 悬停时向上浮动 */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* 设备名称样式 */
.device-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* 无设备时的提示样式 */
.message {
    text-align: center;
    margin-top: 20px;
    color: #999;
    font-size: 20px;
}

@media (max-width: 900px) {
    .devices-section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .devices-section {
        grid-template-columns: repeat(1, 1fr);
    }

    .title {
        font-size: 40px;
    }
}
