.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-section {
    box-sizing: border-box;
    width: 600px;
    border-radius: 10px;
    margin: 5px 0;
    padding: 20px;
}

.info-section {
    position: relative;
    box-sizing: border-box;
    width: 600px;
    /*height: 400px;*/
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.profile-title {
    font-size: 25px;
    margin: 5px 0;
}

.city-selector {
    width: 60%;
}

.profile-input {
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    height: 15px;
    box-sizing: border-box;
}

.modify-button {
    margin-left: 60%;
}