.setting-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.35s ease, color 0.2s ease;
}

.setting-section {
    box-sizing: border-box;
    width: 600px;
    border-radius: 10px;
    margin: 5px 0;
    padding: 20px;
    transition: background-color 0.35s ease, color 0.2s ease;
}

@media (max-width: 600px) {
    .setting-section {
        width: 100%;
    }
}