:root {
    --background-color: rgba(255, 255, 255, 0.8);
    --text-color: #000000;
    --border: 1px solid #ccc;
    --sidebar-bgc: #fdfdfd;
    --input-bgc: #fff;
    --main-bgc: #f8f8f8;
    --sidebar-hover: #eee;
    --display-shadow: rgb(0 0 0 / 13%) 0 0 10px;
}

[class="dark"] {
    --background-color: rgba(17, 17, 17, 0.8);
    --text-color: #e0e0e0;
    --border: 1px solid #333;
    --sidebar-bgc: #1c1c1c;
    --input-bgc: #000;
    --main-bgc: #212830;
    --sidebar-hover: #333;
    --display-shadow: rgb(255 255 255 / 13%) 0 0 10px;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

input {
    background-color: var(--input-bgc);
    color: var(--text-color);
}

.login {
    background-color: var(--background-color);
    color: var(--text-color);
    border: var(--border);
}

.main-content {
    background-color: var(--main-bgc);
    border: var(--border);
    color: var(--text-color);
}

.logout-button::before {
    background-color: var(--input-bgc);
    color: var(--text-color);
}

.sidebar, .display-item, .login-button .icon, .cart {
    background-color: var(--sidebar-bgc);
}

.sidebar a span, .message {
    color: var(--text-color);
}

.active-link .sidebar-text {
    color: #fff; /* 图标和文字的选中颜色 */
}

.sidebar a:hover {
    background-color: var(--sidebar-hover);
}

.app-container, .slider-label {
    color: var(--text-color);
}

.setting-section, .section {
    background-color: var(--sidebar-bgc);
    color: var(--text-color);
    border: var(--border);
}

.chart, .scroll, .device-item {
    border: var(--border);
}

.display-item {
    box-shadow: var(--display-shadow);
}

.input-group:focus-within .login-label,
.login-input:not(:placeholder-shown) + .login-label {
    background: var(--input-bgc);
}